---
import Layout from '../../layouts/Layout.astro';
import MyFormServerAction from '../../components/learn/MyFormServerAction.astro';
---

<Layout>
  <h1 class='text-2xl'>Form Server action</h1>
  <MyFormServerAction />
</Layout>
