---
import Layout from "../../layouts/Layout.astro";
import SolidCompo1 from "../../components/learn/SolidCompo1.tsx";
import { logger } from '../../lib/logger';

logger.info("Execute SolidCompo1Page.astro");
---

<Layout>
	<h1>SolidCompo1 page</h1>
	<SolidCompo1></SolidCompo1>
</Layout>