<div id='login-form' class='space-y-6'>
  <label for='username-input' class='block'>
    <div>User name</div>
    <input
      id='username-input'
      name='username'
      placeholder='kody'
      class='input w-full'
    />
  </label>
  <label for='password-input' class='block'>
    <div>Password</div>
    <input
      id='password-input'
      name='password'
      type='password'
      placeholder='twixrox'
      class='w-full input'
    />
  </label>
  <button type='submit' name='login' class='btn btn-primary w-ful'>
    Login
  </button>
  <!-- <Show when={loggingIn.result}>
	  <p class='text-red-600 text-sm' role='alert' id='error-message'>
		{loggingIn.result!.message}
	  </p>
	</Show> -->
</div>
