<div id="register-form" class="space-y-6">
  <div class="space-y-1">
    <label for="username-input" class="block text-sm font-medium text-gray-700">
      Username
    </label>
    <input
      id="username-input"
      name="username"
      placeholder="kody"
      class="w-full input"
    />
  </div>
  <div class="space-y-1">
    <label for="password-input" class="label block"> Password </label>
    <input
      id="password-input"
      name="password"
      type="password"
      placeholder="twixrox"
      class="w-full input"
    />
  </div>
  <div class="space-y-1">
    <label for="confirm-password-input" class="label block">
      Confirm Password
    </label>
    <input
      id="confirm-password-input"
      name="confirm-password"
      type="password"
      placeholder="twixrox"
      class="w-full input"
    />
  </div>
  <button type="submit" name="register" class="btn btn-primary w-ful">
    Register
  </button>
</div>
