---
import Layout from "../../../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-2xl">Error page</h1>
  <div
    class="text-red-500"
    x-data="{ msg: '' }"
    x-init="msg = new URLSearchParams(window.location.search).get('msg')"
  >
    <p x-text="msg"></p>
  </div>
</Layout>
