---
import Layout from "../layouts/Layout.astro";
import LoginForm from "../components/auth/LoginForm.astro";
import RegisterNewUserForm from "../components/auth/RegisterNewUserForm.astro";
---

<Layout>
  <main class="min-h-screen flex items-center justify-center bg-base-100">
    <div
      class="bg-base-200 p-8 rounded-lg shadow-md w-full max-w-md"
      data-signals="{wantToLogin: true}"
    >
      <h1 class="text-2xl font-bold mb-6 text-center">
        <span data-show="$wantToLogin">Login</span>
        <span data-show="!$wantToLogin">Register</span>
      </h1>
      <form method="post" class="space-y-6">
        <input type="hidden" name="redirectTo" value="/" />
        <fieldset class="space-y-2">
          <legend class="font-medium">Login or Register?</legend>
          <div class="flex gap-4">
            <label class="label">
              <input
                type="radio"
                name="loginType"
                value="login"
                data-attr-checked="$wantToLogin"
                class="text-blue-600"
                data-on-input="$wantToLogin=true"
              />
              <span>Login</span>
            </label>
            <label class="label">
              <input
                type="radio"
                name="loginType"
                value="register"
                data-attr-checked="!$wantToLogin"
                class="text-blue-600"
                data-on-input="$wantToLogin=false"
              />
              <span>Register</span>
            </label>
          </div>
        </fieldset>

        <div data-show="$wantToLogin">
          <LoginForm />
        </div>

        <div data-show="!$wantToLogin">
          <RegisterNewUserForm />
        </div>
      </form>
    </div>
  </main>
</Layout>
