---
export const prerender = false;
import Layout from '../layouts/Layout.astro';

let errorMessage = '';
let greet = '';
try {
  if (Astro.request.method === 'POST') {
    const formData = await Astro.request.formData();
    const yourname = formData.get('yourname');
    if (yourname == 'test') {
      throw new Error('test guy is blacklisted');
    }
    greet = `Hello ${yourname}`;
    console.log(yourname);
  }
} catch (err) {
  console.error(err);
  if (err instanceof Error) {
    errorMessage = err.message;
  }
}
---

<Layout>
  <form method='POST'>
    <input name='yourname' required class='input' />
    {errorMessage && <span>{errorMessage}</span>}
    <button type='submit' class='btn btn-primary'>Submit</button>
    {greet && <span>{greet}</span>}
  </form>
</Layout>
