---
import Layout from '../layouts/Layout.astro';

let error = '';
let greet = '';
try {
  if (Astro.request.method === 'POST') {
    const formData = await Astro.request.formData();
    const yourname = formData.get('yourname');
    if (!yourname) {
      error = 'Your name is required';
    }
    greet = `Hello ${yourname}`;
    console.log(yourname);
  }
} catch (err) {
  console.error(err);
  if (err instanceof Error) {
    error = err.message;
  }
}
---

<Layout>
  <form method='POST'>
    <input name='yourname' required class='input' />
    {error && <span>{error}</span>}
    <button type='submit' class='btn btn-primary'>Submit</button>
    {greet && <span>{greet}</span>}
  </form>
</Layout>
